/Server/User
/Server/Venkataraman
/frontend/client
/Server/BUNDLE_DEPOT_ZONE
/Server/User
/Server/uploads/Excel_Files
/Server/Required_Files/*LookupData.xlsx
/Server/Required_Files/*MandatoryFields.xlsx
/Server/validation_results
Server/hdl_jobs.json
Server/hdl_jobs.json
Server/*.env
Server/server.log
