/Server/User
/Server/Venkataraman
/frontend/client
/Server/BUNDLE_DEPOT_ZONE
/Server/User
/Server/uploads/Excel_Files
/Server/Required_Files/*LookupData.xlsx
/Server/Required_Files/*MandatoryFields.xlsx
/Server/validation_results
Server/hdl_jobs.json
Server/hdl_jobs.json
*.log
*.log
*.log
*.log
/
*.pyc
/Server/__pycache__
Server/server.log
Server/.env
Server/.env
/NLP/venv
/Server/venv 
*.json
*Lookup_Data_saved.xml
*Mandatory_Fields_saved.xml
soap_response.xml
data.json
*.txt
!**/requirements.txt
!**/Requirements.txt
Server/Required_files/Available_NLP.xlsx
Server/Required_files/Available_NLP.xlsx
/Server/Required_files/precheck_reports
/Server/Required_files/Post-Validation_Excels
Server/Required_files/Venkataraman_Test_Assignment_Report.xlsx
Server/soap_request_Assignment_Report.xml
Server/soap_request_Assignment_Report.xml
Server/Required_files/Venkataraman_Test_Assignment_Report.csv
*.csv
Server/api_keys.env
/venv
/Server/.venv
/NLP/.venv
/logs/
.env
!.env.example
frontend/charlie_client/.env
